<header>
    <nav>
        <h1><a href="./">An Outline of Ukrainian History.</a> <span class="header-meta">Mykhaylo Braychevsky, 1993</span></h1>
        <ul>
            <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky">GitHub</a></li>
            <li class="dropdown">
                <a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases" class="dropdown-trigger">Download &#9662;</a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky-en.pdf">PDF</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky-en.epub">EPUB</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky-en.docx">DOCX</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky-en.html">HTML</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky-en.md">Markdown</a></li>
                </ul>
            </li>
            <li class="language-toggle">
                <a href="../">UA</a> | <span>EN</span>
            </li>
        </ul>
    </nav>
</header>
<div class="content">
