<header>
    <nav>
        <h1><a href="./">Конспект історії України.</a> <span class="header-meta">Михайло Брайчевський, 1993</span></h1>
        <ul>
            <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky">GitHub</a></li>
            <li class="dropdown">
                <a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases" class="dropdown-trigger">Завантажити &#9662;</a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky.pdf">PDF</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky.epub">EPUB</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky.docx">DOCX</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky.html">HTML</a></li>
                    <li><a href="https://github.com/vredchenko/konspekt-istorii-ukrainy-braichevsky/releases/latest/download/konspekt-istorii-ukrainy-braichevsky.md">Markdown</a></li>
                </ul>
            </li>
            <li class="language-toggle">
                <span>UA</span> | <a href="en/">EN</a>
            </li>
        </ul>
    </nav>
</header>
<div class="content">
