/* Basic styles for HTML output */
body {
    font-family: sans-serif;
    margin: 2em;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
pre, code {
    background-color: #eee;
    padding: 0.5em;
    border-radius: 3px;
    font-family: monospace;
}

